/* GENERAL */
body{
  text-align: center;
  max-width: 900px;
  margin: auto;
}
img {
  filter: brightness(70%);
}

/* NAVIGATION BAR */
.navbar{
  background-color: white;
  font-size: 20px;
}
.navbar-content {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.nav-space {
  padding-left: 40px;
  padding-right: 40px;
}

/* CONTAINERS */
.home-container {
  position: relative;
  text-align: center;
  color: white;
}
.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #f7f7f7;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.col {
  padding-right: 0px;
  padding-left: 0px;
}
.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* CONTACT INFO */
#description {
  margin: auto;
  width: 70%;
  padding: 30px;
}
