/* GENERAL */
body{
  max-width: 900px;
  margin: auto;
}
img{
  max-width: 400px;
}
h3{
  padding: 10px;
  font-size: 2.5vw;
}
p{
  line-height: 2;
}

/* NAVIGATION BAR */
.navbar{
  background-color: white;
  font-size: 20px;
}
.navbar-content {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.nav-space {
  padding-left: 40px;
  padding-right: 40px;
}

/* CONTAINERS */
.projects {
  padding-left: 30px;
  padding-right: 30px;
}
.container-fluid {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}
.top-left {
  position: absolute;
  top: 12px;
  left: 20px;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.col{
  padding-left: 0px;
  padding-right: 0px;
}

#leftcol {
  margin-right: 15px;
}
#rightcol{
  background-color: #f7f7f7;
}
#text{
  font-size: 1.5vw;
}
#text-bottom{
  font-size: 1.7vw;
  position: absolute;
  bottom: 0;
  right: 20px;
}
